body {
  font: 16px/1.63 "Montserrat", sans-serif;
  color: var(--main-text-color);
}

a {
  color: var(--active-color);
  text-decoration: none;

  &:hover {
    color: var(--accent-color);
  }
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.22;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
  @media (min-width: 768px) {
    font-size: 38px;
  }
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 14px;
  text-transform: uppercase;
}

.gradient-text {
  background-image: var(--gradient-redtext);
  background-clip: text;
  color: transparent;
}

.button {
  padding: 18px 30px;
  color: var(--second-color);
  font-weight: 700;
  background-color: var(--active-color);
  border-radius: 12px;
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
  margin-bottom: 30px;
  &:hover {
    background-color: var(--active-hover-color);
    color: var(--second-color);
  }
}

.wrapper {
  min-height: 100vh;
  min-width: 375px;
  position: relative;
  overflow: hidden;
}

.bg-box-top {
  background: var(--gradient-supersoft);
  color: var(--second-color);
  border-radius: 0 0 12px 12px;
  position: relative;
  margin-bottom: 47px;
  @media (min-width: 768px) {
    margin-bottom: 80px;
  }
  &::before {
    content: "";
    width: 95%;
    height: 10px;
    position: absolute;
    background-color: rgb(202, 202, 219);
    border-radius: 0 0 12px 12px;
    bottom: -10px;
    left: 2%;
  }
  &::after {
    content: "";
    width: 91%;
    height: 10px;
    position: absolute;
    background-color: rgb(231, 231, 242);
    border-radius: 0 0 12px 12px;
    bottom: -20px;
    left: 4%;
  }
}

.bg-box-grey {
  background-color: var(--bg-color);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 30px;
  @media (min-width: 768px) {
    padding: 0 60px;
    @media (min-width: 1920px) {
      padding: 0 160px;
    }
  }
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.d-none {
  display: none;
}

.d-m-block {
  @media (min-width: 768px) {
    display: block;
  }
}
