@mixin viewport-md {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin text-gradient {
  background-image: var(--gradient-redtext);
  background-clip: text;
  color: transparent;
}

@mixin tabs-gradient {
  background-image: var(--gradient-tabs);
  background-clip: text;
  color: transparent;
}