.light {
}

.publications-page {
  .bg-box-bottom {
    padding-top: 100px;
  }
  .bg-box-top {
    position: static;
  }
  .bg-box-top::after,
  .bg-box-top::before {
    display: none;
  }
  .header__topline {
    background-color: var(--bg-color);
  }

  .header__topline a {
    color: rgba(179, 179, 186, 1);
  }

  .header__lang-link.active {
    color: var(--second-color);
  }

  .header__bottomline {
    background-color: var(--second-color);
  }
  .header__burger {
    stroke: var(--main-color);
  }
  .header-current-page {
    color: var(--main-color);
  }
}
