.services__page {
  .services {
    padding-top: 132px;
    @media (min-width: 768px) {
      padding-top: 280px;
      @media (min-width: 1024px) {
        padding-top: 176px;
      }
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .main-container {
    flex-grow: 1;
  }
  .header__logo {
    display: flex;
    gap: 4px;
    &-link {
      cursor: pointer;
    }
  }
  .header-logo-slash {
    fill: var(--accent-color);
    min-width: 11px;
    @media (min-width: 768px) {
      min-width: 21px;
      max-height: 47px;
    }
  }
  .header-current-page {
    font-size: 20px;
    margin-top: -7px;
    @media (min-width: 768px) {
      font-size: 36px;
    }
  }
  .services__list {
    gap: 28px;
    @media (min-width: 768px) {
      gap: 57px;
    }
  }
  .services___title {
    margin-bottom: 17px;
  }

  .bg-box-top {
    margin-bottom: 78px;
  }
  .footer {
    border-top: none;
    padding-top: 30px;
    &__list {
      padding-top: 1px;
    }
  }
}

.entry_page {
  .main-container {
    background-color: var(--bg-color);
  }
  .header__topline {
    @media (min-width: 1024px) {
      padding: 50px 60px 16px;
    }
  }

  .header-current-page {
    margin-top: -4px;
    @media (min-width: 768px) {
      margin-top: -7px;
    }
    @media (min-width: 1024px) {
      margin-top: -9px;
    }
  }
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services___img {
    max-width: 92px;
  }
  .services___title {
    font-size: 30px;
    margin-bottom: 30px;
    @media (min-width: 768px) {
      font-size: 38px;
      margin-bottom: 27px;
    }
  }

  .services___content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 4px rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
  }
  .services___content p {
    font-size: 19px;
    margin-bottom: 24px;
    text-align: center;
    line-height: 1.56;
    @media (min-width: 768px) {
      margin-bottom: 23px;
    }
  }

  .button {
    margin-bottom: 27px;
    @media (min-width: 768px) {
      margin-bottom: 57px;
    }
  }

  .services___bottom_section {
    h3 {
      margin-bottom: 30px;
    }
    &-list {
      font-size: 18px;
      margin-bottom: 60px;
      line-height: 1.44;
      @media (min-width: 768px) {
        column-count: 2;
        column-gap: 60px;
      }
    }
    &-item {
      margin-bottom: 15px;
      padding-left: 14px;
      position: relative;
      &::before {
        content: "";
        width: 6px;
        height: 6px;
        background-color: var(--accent-color);
        position: absolute;
        border-radius: 50%;
        top: 12px;
        left: 0;
      }
    }
  }

  .publications__title {
    margin-bottom: 32px;
  }

  .bg-box-bottom {
    border-radius: 12px 12px 0 0;
  }
  .footer {
    @media (min-width: 768px) {
      padding-top: 35px;
      gap: 2px;
    }
    @media (min-width: 1024px) {
      padding-top: 33px;
      gap: 14px;
    }
    &__list {
      @media (min-width: 768px) {
        margin-bottom: 25px;
      }
    }
  }
}
